<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <div id="container">
    <div *ngIf="displayData">
      {{ displayData }}
    </div>
    <ion-button expand="block" (click)="oncreate()">On Create</ion-button>
    <ion-button expand="block" (click)="refreshtoken()">Refresh</ion-button>
    <ion-button expand="block" (click)="starttransfer()">Start Transfer</ion-button>
  </div>
</ion-content>
